html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	padding-top: 50px;
}
.main-container{
	height: 89%;
	
	-webkit-animation: myAnimation 2s 1 linear; /* Chrome, Safari 5+ */
	-moz-animation: myAnimation 2s 1 linear; /* Firefox 5-15 */
	-o-animation: myAnimation 2s 1 linear; /* Opera 12.00 */
	animation: myAnimation 2s 1 linear; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}
.row{
	height:115%;
}
.aside-menu{
	color: #fff;
	text-align: center;
	margin-left: -8.4%;
	height: 100%;
	
}
#nav-Alumnos a:hover, #nav-Alumnos.active a{
	color: #FACC2E;
}

#nav-Calificaciones a:hover, #nav-Calificaciones.active a{
	color: #088A08;
}
#nav-Cursos a:hover, #nav-Cursos.active a{
	color: #563D7C;
}
#nav-Profesores a:hover, #nav-Profesores.active a{
	color: #428BCA;
}

.btn-Alumnos,.btn-Calificaciones, .btn-Cursos,.btn-Profesores{
	color:#fff;
}
.btn-Alumnos:hover,.btn-Calificaciones:hover, .btn-Cursos:hover,.btn-Profesores:hover{
	color:#999;
}

.btn-Alumnos{
	background: #FADE81;
}
.btn-Alumnos:hover{
	
	background: #FACC2E;
}

.btn-Calificaciones{
	background: #9DB91;
}
.btn-Calificaciones:hover{
	background:  #088A08;
}
.btn-Cursos{
	backgroud: #AA8FD2;
}

.btn-Cursos:hover{
	backgroud: #563D7C;
}
.btn-Profesores{
	background: #90BCE2;
}
.btn-Profesores:hover{
	background: #428BCA;
}


@-webkit-keyframes myAnimation {
0%   { opacity: 0.0; -webkit-transform: translate(40%, 0);}
100% { opacity: 1.0; -webkit-transform: translate(0, 0); }
}
@-moz-keyframes myAnimation {
0%   { opacity: 0.0; -moz-transform: translate(40%, 0);}
100% { opacity: 1.0; -moz-transform: translate(0, 0);}
}
@-o-keyframes myAnimation {
0%   { opacity: 0.0; -o-transform: translate(40%, 0);}
100% { opacity: 1.0; -o-transform: translate(0, 0);}
}
@-keyframes myAnimation {
0%   { opacity: 0.0; transform: translate(40%, 0);}
100% { opacity: 1.0; transform: translate(0, 0);}
}


/*body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
*/